.Example-btn11{
    background-color: #081f2d; 
    border-radius: 29px; 
    border: 1px solid #081F2D; 
    color: #ffffff; 
    font-size: 15px; 
   padding: 10px 45px; 
    cursor: pointer;  
    transition: 0.3s; 
    }
    
    .Example-btn11:hover{ 
    background-color: white; 
    color: #081F2D; 
    border-color: #081F2D; 
    transition: 0.3s; 
   }
   /* .Example-btn11:focus{
    background-color: red; 
   } */