
.userbar-box{
    padding: 10% 15%;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border-style: groove;
    border-color: rgb(160, 160, 160);
    font-size: smaller;
    width: 100%;
    font-weight: bolder;
    text-align: center;
}
